h4.disabled Download stl for 3d printer
#sizeSelect
	p.
		Please enter your printer type:
	.row
		.col-sm-6
			select.form-control#studSizeSelect
		.col-sm-6
			select.form-control#holeSizeSelect
	br
