h4.disabled Download stl for 3d printer
#sizeSelect
	p.
		Please enter your printer type:
	.row
		.col-sm-6
			select.form-control#studSizeSelect
		.col-sm-6
			select.form-control#holeSizeSelect
	br
	p.
		If you don't know your printer's type, use our wizard to find it out:
	button.btn.btn-primary.btn-block#startWizard Start wizard
	br
#wizardStepIntro
	p Wizard intro
#wizardStepStuds
	p Wizard studs
#wizardStepHoles
	p wizard holes
#wizardStepFinished
	p wizard finished
#wizardButtons
	br
	.row
		.col-sm-6
			button.btn.btn-primary.btn-block#wizardBack #[i.fa.fa-chevron-left] Go back
		.col-sm-6
			button.btn.btn-primary.btn-block#wizardNext Next step #[i.fa.fa-chevron-right]
	br
