#editGroup
	.btn-group.btn-group-justified(role='group')#brushContainer
		.btn.btn-primary#legoBrush
			| Make LEGO
			br
			img(src='img/legoBrush.png' width=64 height=64)
		.btn.btn-primary#printBrush
			| Make 3D-print
			br
			img(src='img/printBrush.png' width=64 height=64)

	.row.twoButtonRow
		.col-xs-6(style="padding-right: 2px")
			.btn.btn-primary.btn-block#everythingLego
				| Make everything
				br 
				| LEGO
		.col-xs-6(style="padding-left: 2px")
			.btn.btn-primary.btn-block#everythingPrinted
				| Make everything
				br
				| 3D-print