#editGroup
	h4 1. Edit
	.row.twoButtonRow
		.col-xs-6
			.btn.btn-primary.btn-block#everythingLego
				| Make everything
				br
				| LEGO
		.col-xs-6
			.btn.btn-primary.btn-block#everythingPrinted
				| Make everything
				br
				| 3D-print
	.row.twoButtonRow#brushContainer
		.col-xs-6
			.btn.btn-primary.btn-block#legoBrush
				| Make LEGO
				br
				img(src='img/legoBrush.png' width=64 height=64)
		.col-xs-6
			.btn.btn-primary.btn-block#printBrush
				| Make 3D-print
				br
				img(src='img/printBrush.png' width=64 height=64)
	.row.twoButtonRow#brushContainer
		.col-xs-6
			.btn.btn-primary.btn-block#bigLegoBrush
				| Make LEGO
				br
				img(src='img/bigLegoBrush.png' width=64 height=64)
		.col-xs-6
			.btn.btn-primary.btn-block#bigPrintBrush
				| Make 3D-print
				br
				img(src='img/bigPrintBrush.png' width=64 height=64)