#editGroup
	h4 1. Edit
	.row.twoButtonRow
		.col-xs-6
			.btn.btn-primary.btn-block#everythingLego
				| Make everything
				br
				| LEGO
		.col-xs-6
			.btn.btn-primary.btn-block#everythingPrinted
				| Make everything
				br
				| 3D-print

	.btn-group.btn-group-justified(role='group')#brushContainer
		.btn.btn-primary#legoBrush
			.smallBrush
				| Make LEGO
				br
				img(src='img/legoBrush.png' width=64 height=64)
			.bigBrush
				| Big Brush
		.btn.btn-primary#printBrush
			.smallBrush
				| Make 3D-print
				br
				img(src='img/printBrush.png' width=64 height=64)
			.bigBrush
				| Big Brush
