#exportGroup
	.btn.btn-success.btn-block#shareButton
		span.fa.fa-share
		| &nbsp;&nbsp;Share your work
	br
	.btn.btn-success.btn-block#downloadButton
		span.fa.fa-download
		| &nbsp;&nbsp;Download stl for 3D printer		
	.btn.btn-success.btn-block#downloadPdfButton
		span.fa.fa-download
		| &nbsp;&nbsp;Download pdf LEGO instructions
