#exportGroup
	.btn.btn-primary.btn-block#shareButton
		| Share your work
		
	.row.twoButtonRow
		.col-xs-6
			.btn.btn-primary.btn-block#downloadButton
				| Download
				br 
				| stl
				br
				| for 3D printer							
		.col-xs-6
			.btn.btn-primary.btn-block#downloadPdfButton
				| Download
				br
				| pdf
				br
				| LEGO instructions
