.row.twoButtonRow
	.col-xs-6(style="padding-right: 2px")
		.btn.btn-primary.btn-block#downloadButton
			| Download
			br 
			| stl
			br
			| for 3D printer							
	.col-xs-6(style="padding-left: 2px")
		.btn.btn-primary.btn-block#downloadPdfButton
			| Download
			br
			| pdf
			br
			| LEGO instructions