#loadGroup
  label.btn.btn-success.btn-block#loadButton(for='fileInput')
    | LOAD
    br
    span#loadButtonFeedback drop an stl file
  input#fileInput(type='file' accept='.stl' style='display: none')

  br
