#loadGroup
	label.btn.btn-success.btn-block#loadButton(for='fileInput')
		div#progressBar
		span#loadingStatus Drop an STL file

	input#fileInput(type='file' accept='.stl' style='display: none')

	br
