#previewGroup
	.btn.btn-primary.btn-block#stabilityCheckButton
		| Check stability
	.btn.btn-primary.btn-block#buildButton
		| Show LEGO assembly
	#buildContainer.hidden
		br
		button.btn.btn-primary.fa.fa-chevron-left#buildDecrement
		| &nbsp;Showing Layer&nbsp;
		span#currentBuildLayer 1
		| &nbsp;of&nbsp;
		span#maxBuildLayer 0
		| &nbsp;
		button.btn.btn-primary.fa.fa-chevron-right#buildIncrement
		input(type='range')#buildSlider
