#downloadModal(tabindex='-1').modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button(data-dismiss='modal').close &#215;
				h4.modal-title.disabled Download
			.modal-body
				#testStripContent
					h4.disabled Download stl for 3d printer
					p.
						Select the stud size that works best for your 3d printer.
						If you don't know the size, download and print the &nbsp;
						#[a(href='/download/testStrip.zip') test strip]
						.
					center
						img(src='/img/testStrip.png' width=300)
					p To connect LEGO studs into the test strip, this size works best:
						select.form-control#holeSizeSelect
					p To connect test strip studs into LEGO bricks, this size works best:
						select.form-control#studSizeSelect
					br
				#stlContent
					.btn.btn-success.btn-block.disabled#stlDownloadButton.
						Download stl for 3D printer
				#legoContent
					h4.disabled Download instructions
					.btn.btn-success.btn-block.disabled#downloadInstructionsButton.
						Download LEGO instructions and scad file
			.modal-footer
				button(data-dismiss='modal').btn.btn-primary.disabled Close

