doctype html
html
	head
		meta(charset='utf-8')
		title Lowfab
		style
			canvas {
				width: 100%;
				height: 100%;
			}

			body {
				margin: 0;
			}
	body
		script(src='../lib/three.js')
		script(src='../lib/TrackballControls.js')
		script(src='../lib/orbitcontrols.js')
		script(src='../lib/STLLoader.js')
		script(src='../lib/jquery-2.0.3.js')
		script(src='../build/client/index.js')
