doctype html
html
	head
		meta(charset='utf-8')
		title Lowfab
		each path, name in styles
			link(rel='stylesheet', href=path)

	body

		nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') Lowfab

		each path, name in scripts
			script(src=path)
