doctype html
html
	head
		meta(charset='utf-8')
		title Lowfab
		style.
			canvas {
				width: 100%;
				height: 100%;
			}

			body {
				margin: 0;
			}
	body
		each path, name in scripts
			script(src=path)
