extends layout

block content

	div#renderArea

	aside#leftSidebar
		#sceneGraphContainer
		#propertiesContainer

	aside#rightSidebar
		#pluginsContainer
		#toolsContainer


	div#webGlWarning
		p You should not see this text! Do you use a webGL ready browser?
			= ' '
			a(href='http://get.webgl.org') get.webgl.org

block scripts
	if scripts
		each path in scripts
			script(src=path)
