extends layoutWithoutNavbar

block content
    style(type='text/css').
        /* Make bootstrap tabs centered in the middle */
        .nav-tabs > li, .nav-pills > li {
            float: none;
            display: inline-block;
            *display: inline; /* ie7 fix */
            zoom: 1; /* hasLayout ie7 trigger */
        }

        .nav-tabs, .nav-pills {
            text-align: center;
        }
    .container
        .row
            .col-lg-6(style='margin-top:8em')
                h1 Prototyping accelerated
                p.
                    Combine various prototyping techniques like 3D-printing, lasercutting, Lego assembly and many more to accelerate the creation of first low-fidelity prototypes.
            .col-lg-6
                img(src='/img/placeholder.png')
    .container(style='width:100%; text-align:center; margin-top: 5em; margin-bottom: 5em;')
        a.btn.btn-primary(style='width:25em; height:5em;padding-top:1.2em;margin-bottom: 1em')
            b(style='color:white; font-size: 1.5em;') Drop a .stl file to start!
        br
        a Or try out an example

    .container(role='tabpanel')
        ul.nav.nav-tabs
            li(role='presentation').active
                a(href='#whatislowfab' aria-controls='whatislowfab' role='tab' data-toggle='tab') What is Lowfab?
            li(role='presentation')
                a(href='#features' aria-controls='features' role='tab' data-toggle='tab') Features
            li(role='presentation')
                a(href='#examples' aria-controls='examples' role='tab' data-toggle='tab') Examples
            li(role='presentation')
                a(href='#contribute' aria-controls='contribute' role='tab' data-toggle='tab') Contribute
            li(role='presentation')
                a(href='#team' aria-controls='team' role='tab' data-toggle='tab') Team

        .tab-content
            #whatislowfab(role='tabpanel').tab-pane.active
                p Look at our beautiful placeholder image
                img(src='/img/placeholder1170.png')
            #features(role='tabpanel').tab-pane
                p What are features?
                .row
                    .col-lg-2
                        img(src='/img/placeholder180.png')
                    .col-lg-4
                        p Feature 1
                    .col-lg-2
                        img(src='/img/placeholder180.png')
                    .col-lg-4
                        p Feature 2
            #examples(role='tabpanel').tab-pane
                p Examples
            #contribute(role='tabpanel').tab-pane
                p Contribute
            #team(role='tabpanel').tab-pane
                p Wir brauchen mal ein Teamfoto
                p Und ein Impressum nach deutschem Recht

block scripts
    if scripts
        each path in scripts
            script(src=path)
