doctype html
html
    head
        meta(charset='utf-8')
        title Lowfab
        meta(viewport='width=device-width, initial-scale=1')
        if styles
            each path in styles
                link(rel='stylesheet', href=path)
    body
        block content
        block scripts
