doctype html
html
	head
		meta(charset='utf-8')
		title Lowfab
		meta(viewport='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/styles/screen.css')

		block head

	body
		#wrapper.container-fluid

			h1#logo Lowfab

			noscript
				| For full functionality of this site it is necessary to enable JavaScript.
				| Here are the
				= ' '
				a(href="http://enable-javascript.com", target="_blank")
					| instructions how to enable JavaScript in your web browser

			block content

		block scripts
