doctype html
html
	head
		meta(charset='utf-8')
		title Lowfab
		meta(viewport='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/styles/screen.css')

	body
		block content
		block footer
			include landingpage/footer
		block scripts
