doctype html
html
	head
		meta(charset='utf-8')
		title 
			if pageTitle
				| #{pageTitle} | Brickify
			else
				| Brickify - Faster 3D-printing with LEGO bricks

		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name="description" content='Faster 3D-printing with LEGO bricks')
		meta(name="keywords" content='Brickify, 3D-printing, LEGO')

		block styles

	body(id=page)

		block body

		script(src='/js/piwik.js')
		noscript
			img(src='//piwik.brickify.it/piwik.php?idsite=1' style='border:0;' alt='')
		block scripts
