.container
	padding-top 1em
	padding-bottom 1em
#samples
	margin
	background #404040
	margin-top 2em
	margin-bottom 2em

	td.download
		vertical-align middle
	td.printTime
		vertical-align middle
		font-size 1.5em
		font-weight bold
		span
			display inline

	.editHover
		position relative
		top -167px
		margin-bottom -167px
		opacity: 0
		transition opacity 0.3s ease

	.sample img
		width 255px
		height 167px

	.editHover:hover
		opacity 0.85

	.attribution
		margin-top 3em
		font-size 0.8em
