.quickConvert
  width 100%
  background #404040
  padding-bottom 15px

  .convert-arrow
    padding-top 130px

  .quickConvertCanvas
    width 388px
    max-width 100%
    height 300px
    max-heigth 300px

  #renderArea1
    background-image url('../img/preview_renderArea1.png')

  #renderArea2
    background-image url('../img/preview_renderArea2.png')
