.quickConvert
	width 100%
	background #404040
	padding-bottom 15px

	.quickConvertCanvas
		width 388px
		max-width 388px
		height 300px
		max-heigth 300px

	.convert-arrow
		margin-top 150px

	#renderArea1
		background-image url('../img/preview_renderArea1.png')

	#renderArea2
		background-image url('../img/preview_renderArea2.png')
