header
	.usergroup-link
		padding 5px 10px
		a
			font-size 1.4em
			background-position top left
			background-repeat no-repeat
			padding-left 30px

	#educator-link a
		background-image url('../img/instructor.png')

	#builder-link a
		background-image url('../img/lego.png')

	.pitch
		margin-top 6em

	#makey
		background url('../img/makey-assembled.png')
		width 355px
		height 453px
		&:hover
			background url('../img/makey-disassembled.png')

	#dropzone.btn
		cursor inherit
