header
	h1
		font-weight bold

	.pitch
		margin-top 6em

	#makey
		background url('../img/makey-assembled.png')
		width 355px
		height 453px
		&:hover
			background url('../img/makey-disassembled.png')

	#googles
		line-height 500px

	.carousel-inner .item
		min-height 500px

	.carousel-button
		&.builders
			background url('../img/lego.png') no-repeat center right
			text-align right
			padding-right 30px
			span
				right 50px
		&.educators
			background url('../img/instructor.png') no-repeat center left
			padding-left 30px
			text-align left
			span
				left 50px
		span
			top 50%
			display block
			line-height 30px

	.drop
		text-align center
		padding 2em

		.dropper
			width 15em
			line-height 3em
			font-size 1.5em
			font-weight bold
