.appCanvas
	position fixed
	top 0
	left 0
	width 100%
	height 100%

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover
	text-shadow none
	background #c8c8c8
	border-radius 5px

.jqtree-tree .jqtree-title
	color #333
