/*
	Taken from bootstrap-stylus
	mixins/button.styl
	with darker active background and custom disabled color
*/

button-variant($color, $background, $border, $disabledBackground)
	color $color
	background-color $background
	border-color $border

	.bigBrush
		border-color inherit

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle&
		color $color
		// darker background
		background-color darken($background, 15%)
		border-color darken($border, 12%)
		.bigBrush
			border-color inherit
			background-color darken($background, 5%)
			&:hover, &:focus, &.focus, &:active, &.active
				background-color inherit

	&:active,
	&.active,
	.open > .dropdown-toggle&
		background-image none

	&.disabled,
	&[disabled],
	fieldset[disabled] &
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active
			background-color $disabledBackground
			border-color $border

	.badge
		color $background
		background-color $color


$disabledBg = $btn-default-bg

.btn-default
	button-variant(
	$btn-default-color,
	$btn-default-bg,
	$btn-default-border,
	$disabledBg
	)

.btn-primary
	button-variant(
	$btn-primary-color,
	$btn-primary-bg,
	$btn-primary-border,
	$disabledBg
	)

.btn-success
	button-variant(
	$btn-success-color,
	$btn-success-bg,
	$btn-success-border,
	$disabledBg
	)

.btn-info
	button-variant(
	$btn-info-color,
	$btn-info-bg,
	$btn-info-border,
	$disabledBg
	)

.btn-warning
	button-variant(
	$btn-warning-color,
	$btn-warning-bg,
	$btn-warning-border,
	$disabledBg
	)

.btn-danger
	button-variant(
	$btn-danger-color,
	$btn-danger-bg,
	$btn-danger-border,
	$disabledBg
	)

//Taken from bootstrap-styl/button.styl
.btn
	&:active,
	&.active
		outline 0
		background-image none
		//making shadow bigger
		box-shadow inset 0 0 20px 3px rgba(0,0,0,0.40);
		.bigBrush
			&:active, &.active
				background none
