#estimates
	position absolute
	left 0
	right 0
	bottom 0
	margin-left auto
	margin-right auto
	padding-top 5px
	font-size 2em
	pointer-events none
	text-align center
	background-color rgba(0,0,0,0.4)
	border-top-left-radius 10px
	border-top-right-radius 10px
	width 300px

	#brickCount
		display inline-block

	#timeEstimate
		display inline-block

	.fa
		margin-left 0.5em
