.stripeSliderContainer
	margin-left 42px
	margin-right 42px
	text-align center
	
#testStripContent
	#calibrationResult
		text-align center
	#calibrationSettings
		font-size 2em
	.wizardSelect
		margin-top 0.5em
	img
		width 100%
