.stripeSliderContainer
	margin-left 42px
	margin-right 42px
	text-align center
	
#testStripContent
	#calibrationResult
		text-align center
	#calibrationSettings
		font-size 2em
	.wizardSelect
		margin-top 0.5em
	img
		width 100%
		pointer-events none

	.selectContainer
		position relative
		margin-top -15%

		img
			position relative
			top 0
			z-index 2

		img:last-child
			position absolute
			left 0
			top 0
			z-index 1
