html
	height 100%
	width 100%

h1 a
	color inherit
	&:hover
		color inherit
		text-decoration none

#editor
	height 100%
	width 100%

	#logo
		position relative
		z-index 1

	#webGlWarning
		display none
		width 100%
		height 100%
		padding-top 4em
		padding-left 170px
		padding-right 170px

	@import share
	@import sidebar
	@import exportModal
	@import help

	@import customButton

.canvasWrapper
	display block
	width 100%
	height 100%

#canvas
	display block

#usageHintContainer
	position absolute
	display none
	bottom 0
	right 0
	margin-bottom 10px
	margin-right 10px
	max-width 100px

	img
		width 100px
