#logo
	position relative
	z-index 1

.appCanvas
	position fixed
	top 0
	left 0
	width 100%
	height 100%

.panel-title.collapse-title
	cursor pointer
	&:after
		font-family 'Glyphicons Halflings'
		content '\e114'
		float right
		color grey
	&.collapsed:after
		content '\e080'

#webGlWarning
	display none
	width 100%
	height 100%
	padding-top 4em
	padding-left 170px
	padding-right 170px

@import 'spinner.css'

#spinnerContainer
	position fixed
	top 50%
	left 50%
	.spinner
		position relative
		left -50%
		top -50%

#commandContainer
	position fixed
	top 0%
	right 0%
	margin-top 15px
	margin-right 10px
	z-index 2
	a
		margin-left 10px
		margin-right 10px
		font-size 2.5em
		color white

input[readonly].not-readonly
	background white
	cursor default

#shareUrl
	display inline
	width 60%
	margin-left 5px
	margin-right 5px
	
#leftSidebar
	background-color rgba(0,0,0,0.4)
	position absolute
	top 0
	left 0
	bottom 0

/* Help dialog */

.keys
	margin-right 4px

.modal-content kbd
	text-transform capitalize
	box-shadow inset 0 0 10px #505050,0 2px 1px #1e1e1e,0 3px 0 #282828,0 4px 3px #141414

/* Workflow UI */

//General
.twoButtonRow
	margin-top 5px
	:last-child
		padding-left 2px
	:first-child
		padding-right 2px
		
//Objects container
#objectsContainer
	user-select none
	list-style none
	padding-left 0
	margin-left 0

.objectListItem
	position relative
	color black
	//overflow hidden
	cursor pointer
	padding-left 2px
	z-index 1

.selectedObject
	border-radius 5px
	background-color #BBBBBB
	
//brushes
#brushContainer
	div
		font-size 0.90em

//Building
#buildContainer
	display block
	text-align center	

	
/* darker bootstrap buttons */
@import "darkerButton.styl"

.btn-default
	button-variant($btn-default-color, $btn-default-bg, $btn-default-border)
.btn-primary
	button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)
.btn-success
	button-variant($btn-success-color, $btn-success-bg, $btn-success-border)
.btn-info
	button-variant($btn-info-color, $btn-info-bg, $btn-info-border)
.btn-warning
	button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border)
.btn-danger
	button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border)

//Taken from bootstrap-styl/button.styl
.btn
	&:active,
	&.active
		outline 0
		background-image none
		//making shadow bigger
		box-shadow inset 0 0 20px 3px rgba(0,0,0,0.40);
