#leftSidebar
	height 100%
	overflow hidden
	background-color rgba(0,0,0,0.4)
	position absolute
	top 0
	left 0

	.navbar-toggle
		margin-top 5px
		.icon-bar
			background-color white

	&.collapsed-sidebar
		height auto

	@media(min-width $screen-xs-max)
		height 100% !important
		#sidebar-content
			display block !important

	#sidebar-content
		margin-top $padding-base-vertical

	.btn
		white-space normal

	.twoButtonRow
		margin-bottom 5px
		:last-child
			padding-left 2px
		:first-child
			padding-right 2px

	div.disabled, h4.disabled, span.disabled
		opacity 0.5

	#loadGroup
		#loadButtonFeedback .spinner
			display inline-block
			margin-left 20px
			top -5px

	#editGroup
		#brushContainer
			div
				font-size 0.90em
			.bigBrush
				border-top-width 1px
				border-top-style solid
				$spacing = 10px
				margin $spacing $padding-base-horizontal*-1 $padding-base-vertical*-1
				padding $spacing $padding-base-horizontal $padding-base-vertical
			:first-child .bigBrush
				border-bottom-left-radius $border-radius-base
			:last-child .bigBrush
				border-bottom-right-radius $border-radius-base

		.estimate
			font-size 1.5em
			text-align center

	#previewGroup
		#buildContainer
			display block

			#buildSlider
				margin-top 25px

			#buildDecrement
				float left

			#buildIncrement
				float right

			#textWrapper
				text-align center
				margin-top 7px

	#exportGroup
		margin-bottom 2em

@import scrollbar
