#leftSidebar
	height 100%
	overflow hidden
	background-color rgba(0,0,0,0.4)
	position absolute
	top 0
	left 0
	.btn
		white-space normal

.twoButtonRow
	margin-bottom 5px
	:last-child
		padding-left 2px
	:first-child
		padding-right 2px

div.disabled
	opacity 0.5

#brushContainer
	div
		font-size 0.90em
	.bigBrush
		border-top-width 1px
		border-top-style solid
		$spacing = 10px
		margin $spacing $padding-base-horizontal*-1 $padding-base-vertical*-1
		padding $spacing $padding-base-horizontal $padding-base-vertical
	:first-child .bigBrush
		border-bottom-left-radius $border-radius-base
	:last-child .bigBrush
		border-bottom-right-radius $border-radius-base


#buildContainer
	display block
	text-align center

#exportGroup
	margin-bottom 2em

@import scrollbar
