extends ../layout

block content

	div#renderArea

	aside#leftSidebar.col-lg-1
		#sceneGraphContainer
		#propertiesContainer

	aside#rightSidebar.col-lg-offset-9.col-lg-2
		#pluginsContainer
		#toolsContainer


	div#webGlWarning
		p You should not see this text! Do you use a webGL ready browser?
			= ' '
			a(href='http://get.webgl.org') get.webgl.org

block scripts
	script(src='/libs/FileSaver/FileSaver.js')
	script(src='/libs/Blob/Blob.js')
	//include app script
	script(src='app.js')
