extends ../layout

block content

	div#renderArea

	#controls.row
		aside#leftSidebar.col-lg-2
			.panel.panel-default
				.panel-heading
					h3.collapseTitle.panel-title(data-toggle='collapse'
						data-target='#collapseScenegraph') Scenegraph
				#collapseScenegraph.panel-collapse.collapse.in
					.panel-body
						#sceneGraphContainer
						#propertiesContainer
		aside#rightSidebar.col-lg-offset-8.col-lg-2
			.panel.panel-default
				.panel-heading
					h3.collapseTitle.panel-title(data-toggle='collapse'
						data-target='#collapsePlugins') Plugins
				#collapsePlugins.panel-collapse.collapse.in
					.panel-body
						#pluginsContainer
						#toolsContainer


	div#webGlWarning
		p You should not see this text! Do you use a webGL ready browser?
			= ' '
			a(href='http://get.webgl.org') get.webgl.org

block scripts
	script(src='/libs/FileSaver/FileSaver.js')
	script(src='/libs/Blob/Blob.js')
	script(src='/node_modules/json-editor/dist/jsoneditor.js')
	// Include app script
	script(src='app.js')
