extends ../layout

block content
	#canvasContainer
		canvas#canvas.appCanvas

	#commandContainer
		a#cmdShare(href="#", title="Share your work")
			img(src="/img/share.png", height="40px", alt="share")

	#controls.row
		aside#leftSidebar.col-lg-2.col-md-3.col-sm-4
			.panel.panel-default
				.panel-heading
					h3.collapseTitle.panel-title(data-toggle='collapse'
						data-target='#collapseScenegraph') Scenegraph
				#collapseScenegraph.panel-collapse.collapse.in
					.panel-body
						#sceneGraphContainer
						#propertiesContainer
		aside#rightSidebar.col-lg-offset-8.col-lg-2.col-md-offset-6.col-md-3.col-sm-offset-4.col-sm-4
			div.panel-group#pluginsContainer(role='tablist')

	#webGlWarning
		p You should not see this text! Do you use a webGL ready browser?
			= ' '
			a(href='http://get.webgl.org') get.webgl.org

	#spinnerContainer
		.spinner
			div Loading...


block scripts
	script(src='/libs/webglCheck.js')
	script(src='/node_modules/json-editor/dist/jsoneditor.js')

	// Include app script
	script(src='app.js')
	script(src='/libs/bootbox/bootbox.min.js')

