extends ../rootLayout

block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	#wrapper.container-fluid

		h1#logo Brickolage

		noscript
			| For full functionality of this site it is necessary to enable JavaScript.
			| Here are the
			= ' '
			a(href="http://enable-javascript.com", target="_blank")
				| instructions how to enable JavaScript in your web browser

		#canvasContainer
			canvas#canvas.appCanvas

		#commandContainer
			a#cmdHelp.fa.fa-keyboard-o(href="#", title="Open keyboard shortcuts")
			a#cmdShare.fa.fa-share-alt(href="#", title="Share your work")
		#controls.row
			.col-lg-3.col-md-5.col-sm-6.bhoechie-tab-container
				.col-lg-3.col-md-3.col-sm-3.bhoechie-tab-menu
					.list-group
						a(href='#').list-group-item.text-center
							h4 Load
							br
							img(src="img/mmLoad.png" width=64 height=64)
						a(href='#').list-group-item.active.text-center
							h4 Edit
							br
							i.fa.fa-paint-brush(style="font-size: 3.5em;")
						a(href='#').list-group-item.text-center
							h4 Preview
							br
							i.fa.fa-eye(style="font-size: 3.5em;")
						a(href='#').list-group-item.text-center
							h4 Export
							br
							i.fa.fa-download(style="font-size: 3.5em;")

				.col-lg-9.col-md-9.col-sm-9.bhoechie-tab
					.bhoechie-tab-content
						button.btn.btn-success.btn-block
							| LOAD
							br
							| drop an stl file

						br

						.panel.panel-default
							.panel-heading
								h4.panel-title.collapse-title(data-toggle='collapse'
									data-target='#collapseObjects') Objects
							#collapseObjects.panel-collapse.collapse.in
								.panel-body
									ul#objectsContainer

					.bhoechie-tab-content.active
						.btn-group.btn-group-justified(role='group')#brushContainer
							.btn.btn-primary#legoBrush
								| Make LEGO
								br
								img(src='img/legoBrush.png' width=64 height=64)
							.btn.btn-primary#printBrush
								| Make 3D-print
								br
								img(src='img/printBrush.png' width=64 height=64)

						.row.twoButtonRow
							.col-xs-6(style="padding-right: 2px")
								.btn.btn-primary.btn-block
									| Make everything
									br 
									| LEGO
							.col-xs-6(style="padding-left: 2px")
								.btn.btn-primary.btn-block
									| Make everything
									br
									| 3D-print

					.bhoechie-tab-content
						button.btn.btn-success.btn-block
							| Check stability
						button.btn.btn-success.btn-block#buildButton
							| Show me how to build with LEGO
						#buildContainer.hidden
							br
							button.btn.btn-default.fa.fa-chevron-left#buildDecrement
							| &nbsp;Showing Layer&nbsp;
							span#currentBuildLayer 1
							| &nbsp;of&nbsp;
							span#maxBuildLayer 0
							| &nbsp;
							button.btn.btn-default.fa.fa-chevron-right#buildIncrement
							input(type='range')#buildSlider

					.bhoechie-tab-content
						.row.twoButtonRow
							.col-xs-6(style="padding-right: 2px")
								.btn.btn-primary.btn-block#downloadButton
									| Download
									br 
									| stl
									br
									| for 3D printer							
							.col-xs-6(style="padding-left: 2px")
								.btn.btn-primary.btn-block
									| Download
									br
									| pdf
									br
									| LEGO instructions

		#webGlWarning
			p You should not see this text! Do you use a webGL ready browser?
				= ' '
				a(href='http://get.webgl.org') get.webgl.org

		#spinnerContainer
			.spinner
				div Loading...

block scripts
	script(src='/libs/webglCheck.js')
	script(src='node_modules/mousetrap/mousetrap.min.js')
	if app.get('env') === 'development'
		script(src='/shared.js')

	// Include app script
	script(src='app.js')
	script(src='/node_modules/bootbox/bootbox.min.js')
