#logo
	button#toggleMenu.navbar-toggle.btn.btn-default.visible-xs-block
		span.sr-only Toggle menu
		span.icon-bar &nbsp;
		span.icon-bar &nbsp;
		span.icon-bar &nbsp;
	h1 Brickolage

#sidebar-content
	include ./workflowComponents/load.jade

	include ./workflowComponents/edit.jade

	include ./workflowComponents/preview.jade

	include ./workflowComponents/export.jade
