#usageHintContainer
  img#moveHint(src='img/usageHints/move.svg'
    title='Pan the scene with the right mouse button')
  img#zoomHint(src='img/usageHints/zoom.svg'
    title='Zoom with the mouse wheel')
  img#rotateHint(src='img/usageHints/rotate.svg'
    title='Rotate the scene with the left mouse button')
  img#brushHint(src='img/usageHints/brush.svg'
    title='Use the currently selected brush tool with the left mouse button')
