#usageHintContainer
	img#moveHint(src='img/usageHints/move.svg')
	img#zoomHint(src='img/usageHints/zoom.svg')
	img#rotateHint(src='img/usageHints/rotate.svg')
	img#brushHint(src='img/usageHints/brush.svg')
