extends ../rootLayout

block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	.container
		h1 Contribute
		p.
			We plan to open source brickify.it. In the meantime,
			you can have a look at our GitHub
			organization #[a(href='https://github.com/Lowfab') Lowfab].
		p.
			Feedback is always welcomed. Please use this 
			#[a(href='https://docs.google.com/forms/d/14_gpbiIdyQciLczzW1SGx9inXeuj3eNF9w2cBZzIoC4/viewform?usp=send_form#start=invite') feedback form] or write us
			a mail at #[a(href='mailto:contact@brickify.it') contact@brickify.it].
		br
	include footer