extends ../rootLayout
block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	.container
		.col-lg-6
			h1 Fast in-class 3D printing
			p.
				Teach your students how to 3D-print at the example of objects that
				mostly consist of LEGO#[sup &reg;] bricks, thus print fast enough to
				fit into class time.
		.col-lg-3
			img(src='/img/placeholder.png' width='255px')
	.container#samples
		table.table
			tr
				td.printTime
					span.fa.fa-clock-o
					p 20&nbsp;min
				td#sample
					a(href='app#initialModel=708d0b0b44f491523de951afa44b3e06')
						img(src='/img/sample_ballista.png' width='255px')
						img(src='/img/sample_editHover.png' width='255px').editHover
				td
					h3 penny ballista
					p.
						This is a fun model for children aged 7-12. Simply strap on a rubber
						band and place your bets.
				td.download
					a.btn.btn-success Get course material!
			tr
				td.printTime
					span.fa.fa-clock-o
					p 20&nbsp;min
				td#sample
					a(href='app#initialModel=cd8a7a94eac03bf07f32048269e5cc1f')
						img(src='/img/sample_CitrusJuicer.png' width='255px')
						img(src='/img/sample_editHover.png' width='255px').editHover
				td
					h3 citrus juicer
					p.
						Make tasty orange juice with your students!
				td.download
					a.btn.btn-success Get course material!
			tr
				td.printTime
					span.fa.fa-clock-o
					p 20&nbsp;min
				td#sample
					a(href='app#initialModel=1c2395a3145ad77aee7479020b461ddf')
						img(src='/img/sample_goggles.png' width='255px')
						img(src='/img/sample_editHover.png' width='255px').editHover
				td
					h3 head mounted display
					p.
						Use this HUD to dive into virtual realities.
				td.download
					a.btn.btn-success Get course material!
			tr
				td.printTime
					span.fa.fa-clock-o
					p 20&nbsp;min
				td#sample
					a(href='app#initialModel=1b2512f0804dfd68b2783108d840ab6f')
						img(src='/img/sample_printableWrench.png' width='255px')
						img(src='/img/sample_editHover.png' width='255px').editHover
				td
					h3 wrench
					p.
						A tool with a fully functional adjustable jaw.
				td.download
					a.btn.btn-success Get course material!
			tr
				td.printTime
				td#sample
				td
					h3 Thingiverse
					p Search thingiverse. You can use Brickolage with any .stl file.
					form.form-inline.form-group(action='http://www.thingiverse' +
					'.com/search')
						input.form-control(name='q' placeholder='Enter a search term')
						button.btn.btn-default(type='submit') Search
				td
			tr
				td.printTime
				td#sample
					a(href='/app')
						img(src='img/sample_custom.png' width='255px')
						img(src='/img/sample_editHover.png' width='255px').editHover
				td
					h3 Custom
					p Click here if you want to use your own models
				td

	include footer
