.teaserBackground
	p#builder-link.text-right.usergroup-link
		a.text-right(href='/').
			for builders #[span.glyphicon.glyphicon-arrow-right]
	.container
		.row
			.col-lg-6.pitch
				h1
					strong Brickolage
				h2 Fast in-class 3D printing
				p.
					Teach your students how to use 3D-printers and produce their
					designed objects fast by replacing parts with
					LEGO#[sup &reg;] bricks.
				#buttonContainer
					a#dropzone.btn.btn-primary(style='width:25em; height:5em;padding-top:1.2em;margin-bottom: 1em')
						b#droptext(style='color:white; font-size: 1.5em;') Drop a .stl file to start!
			.col-lg-6
				img(src='/img/lowfabFeatureImage.png' width='580px')
