section.examplesPreview
  .container
    .row
      .col-lg-12.text-center
        #examples
          #preview
            for sample in samples
              a(href = 'app#initialModel=' + sample.name)
                img(src = '/img/modelSamples/' + sample.name + '.png')

          a.btn.btn-primary(href = '/examples').
            Check out all of our example models
