.featuresBackground
	.container
		h2 Features
		p.
			Lowfab is in active development and we are adding features
			continuously:
		.row
			.col-lg-6
				h3 Currently working:
				ul
					li Import of .stl models
					li Export to ASCII/binary .stl
					li Voxelization of imported models
			.col-lg-6
				h3 Soon to come:
				ul
					li Creating Lego-models out of voxelized models
