footer.text-center
  .links
    a(href='https://github.com/ad-si/brickify', target='_blank') Code
    | &nbsp; &bull; &nbsp;
    a(href='/team') Team
    | &nbsp; &bull; &nbsp;
    a(href='/imprint') Imprint
