footer.text-center
	.links
		a(href='https://github.com/brickify/brickify', target='_blank') Contribute
		| &nbsp; &bull; &nbsp;
		a(href='/team') Team
		| &nbsp; &bull; &nbsp;
		a(href='/imprint') Imprint

	p#legal.
		LEGO#[sup &reg;] is a trademark of the LEGO Group of companies which
		does not sponsor, authorize or endorse this site.
		<br>
		This product uses the Thingiverse API but is not endorsed or certified by
		Thingiverse or its affiliates.
