footer
	center
		a(href='/') Brickolage
	center
		a(href='/contribute') Contribute
		| &nbsp; &bull; &nbsp;
		a(href='/team') Team
		| &nbsp; &bull; &nbsp;
		a(href='/imprint') Legal notice
		p
	p#legal.text-center.
		LEGO#[sup &reg;] is a trademark of the LEGO Group of companies which
		does not sponsor, authorize or endorse this site
	p#legal.text-center.
		This product uses the Thingiverse API but is not endorsed or certified by
		Thingiverse or its affiliates.
