.footerBackground
	footer
		center
			a(href='/') Brickolage
		center
			a(href='/contribute') Contribute
			| &nbsp; &bull; &nbsp;
			a(href='/team') Team
			| &nbsp; &bull; &nbsp;
			a(href='/imprint') Legal notice
			p
