footer
	center
		a(href='/') Brickolage
	center
		a(href='/contribute') Contribute
		| &nbsp; &bull; &nbsp;
		a(href='/team') Team
		| &nbsp; &bull; &nbsp;
		a(href='/imprint') Legal notice
		p
	p#legolegal.text-center.
		LEGO#[sup &reg;] ist eine Marke der LEGO Gruppe, durch die die
		vorliegende Webseite jedoch weder gesponsert noch autorisiert oder
		unterstützt wird
