extends ../rootLayout

block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	.container
		h1 Imprint
		p not yet.
		p
			a(href='http://thenounproject.com/term/instructor/64958/') Instructor
			|  icon by Ed Gray from #{''}
			a(href='http://thenounproject.com/') the Noun Project
			br
			a(href='http://thenounproject.com/term/lego/3438/') Lego
			|  icon by jon trillana from #{''}
			a(href='http://thenounproject.com/') the Noun Project

	include footer