extends ../rootLayout

block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	.container
		h1 Imprint
		h4 Hasso Plattner Institute for Software Systems Engineering
		p.
			Prof.-Dr.-Helmert-Str. 2-3<br>
			D-14482 Potsdam<br>
			Telephone: TODO Baudischs nummer?<br>
			Fax: +49 331 5509-129<br>
			<br>
			E-mail: TODO Baudischs email?<br>
		p Web:
			a(href='https://hpi.de') &nbsp;https://hpi.de<br>

		h4 Authorized Representative and Executive Director
		p.
			Prof. Dr. Christoph Meinel<br>
			Registry office: Potsdam District Court<br>
			Register number: HRB 12184<br>

		h4 Legal Information
		p.
			Hasso Plattner Institute (HPI) continuously checks and updates the information on its web pages.
			Despite the utmost care taken, we cannot rule out that some of the data may have since become outdated
			or no longer relevant. Therefore, we cannot accept liability for the topicality, accuracy and completeness
			of the information displayed. The same applies to all other web pages that can be reached via hyperlink:
			HPI is not responsible for the content of websites via such links. Furtherore, HPI reserves the right
			to make changes or additions to the information displayed. Content and structure of the HPI website is
			protected by copyright. The reproduction of information or data, in particular the use of texts, text
			excerpts or illustrative material, requires our prior approval. We wish you an informative visit to our
			pages and welcome any suggestions, requests or criticisms you might have.


	include footer
