extends ../rootLayout

block styles
	link(rel='stylesheet', href='/styles/screen.css')

block body
	include teaser

	include quickconvert

	include footer

	include ../feedback


block scripts
	script(src='/libs/webglCheck.js')
	script(src='shared.js')
	script(src='landingpage.js')
	script(src = '/node_modules/bootbox/bootbox.min.js')
