.container
	h2 What is lowfab?
	p Lowfab process description
	img(src='/img/lowfabProcess.jpg')
.container
	h2 Features
	p What are features?
	.row
		.col-lg-2
			img(src='/img/placeholder180.png')
		.col-lg-4
			p Feature 1
		.col-lg-2
			img(src='/img/placeholder180.png')
		.col-lg-4
			p Feature 2
.container
	h3 (Examples)