extends ../rootLayout

block styles
  link(rel='stylesheet', href='/styles/screen.css')

block body
  include teaser

  include quickconvert

  include footer

  include feedback

  include ../downloadModal/downloadModal.jade

block scripts
  script(src='/libs/webglCheck.js')
  script(src='/node_modules/jquery/dist/jquery.min.js')
  script(src='/js/shared.js', type='module')
  script(src='/js/landingpage.js', type='module')
