extends ../layoutWithoutNavbar

block content

	include landingpageTeaser

	include landingpageTabs

block scripts
	//include all general scripts
	script(src='/libs/Blob/Blob.js')

	//include landingpage script
	script(src='landingpage.js')
