extends ../layoutWithoutNavbar

block content

	include landingpageTeaser

	include landingpageTabs

block scripts
	script(src='/node_modules/jquery/dist/jquery.js')
	script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
	script(src='landingpage.js')

