.quickConvertBackground
	.container#quickConvert
		h2 Quickconvert
		p We think that you might like this conversion. You can download it directly or refine it using our online editor

		.row
			.col-lg-4
				h3
					center Original Model
				canvas#renderArea1.quickConvertCanvas
			.col-lg-4
				div(style='width:250px; margin-left:auto; margin-right:auto; display: block; margin-top: 200px')
					img(src='/img/convertArrow.png' width='250px')
			.col-lg-4
				h3
					center To LEGO bricks
				canvas#renderArea2.quickConvertCanvas
				p
					center
						a.btn.btn-primary Download
						|&nbsp;
						a.btn.btn-success.applink(href='app#legofy+') Customize
.afterQuickConvertBackground
	.container
		h2 What is lowfab?
		p Instad of creating one design and 3d-printing one high-fidelity prototype, Lowfab allows you to replace less important parts with lego, and only create critical parts with your 3d-printer. This allows you to iterate faster.
		img(src='/img/lowfabProcess.png')
		h2 Features
		p We are currently under active development and are adding features continuously:
		.row
			.col-lg-6
				p
					strong Currently working:
				ul
					li Import of .stl models
					li Export to ASCII/binary .stl
					li Voxelization of imported models
			.col-lg-6
				p
					strong Soon to come:
				ul
					li Creating Lego-models out of voxelized models
