extends ../layoutWithoutNavbar
block content
	style.
		canvas {
			position: relative;
		}

	.container
		h1 Lowfab quick convert
		p.
			We think that you might like these conversions. You can download them directly or refine them using our online editor
		.alert.alert-warning#importerrors(style='display: none')
			| The file you provided contains some errors. We tried to import it, but the 3d-model might be broken. Please use Meshlab or other software to&nbsp;
			a(target='_blank',href='https://www.google.com/search?q=fix+3d+model') fix
			| &nbsp;your 3d-model.
		.row
			.col-lg-4
			.col-lg-4
				h3
					center Original Model
				canvas#renderArea1.quickConvertCanvas
					//img(src='img/placeholder388.png')
			.col-lg-4
		.row
			.col-lg-2
			.col-lg-4
				h3
					center To LEGO bricks
				canvas#renderArea2.quickConvertCanvas
					//img(src='img/placeholder388.png')
				p
					center
						a.btn.btn-primary Download
						|&nbsp;
						a.btn.btn-success.applink(href='app#legofy+') Customize
			.col-lg-4
				h3
					center To lasercutter
				canvas#renderArea3.quickConvertCanvas
					//img(src='img/placeholder388.png')
				p
					center
						a.btn.btn-primary Download
						|&nbsp;
						a.btn.btn-success.applink(href='app#platener+') Customize
			.col-lg-2
		p
			center
				a(href='../') Go back to lowfab.net
block scripts
	script(src='/node_modules/jquery/dist/jquery.js')
	script(src='/node_modules/bootstrap/dist/js/bootstrap.js')

	//load quickconvert script
	script(src='quickconvert.js')
