section.quickConvert
	.container
		.row
			.col-lg-5.text-center
				h3
					center Original Model
				canvas#renderArea1.quickConvertCanvas
			.col-lg-2.text-center.convert-arrow
				img.img-responsive(src='/img/convertArrow.png')
			.col-lg-5.text-center
				h3
					center With LEGO#[sup &reg;] bricks
				canvas#renderArea2.quickConvertCanvas
				#applinks
					a.btn.btn-success Download
					|&nbsp;
					a.btn.btn-primary.applink(href='app#initialModel=1c2395a3145ad77aee7479020b461ddf') Customize
