extends ../layoutWithoutNavbar
block content
    .container
        h1 Lowfab quick convert
        p.
            We think that you might like these conversions. You can download them directly or refine them using our online editor
        .row
            .col-lg-4
                h3
                    center Legofy
                p
                    img(src='img/placeholder388.png')
                p
                    center
                        .btn.btn-primary Download
                        .btn.btn-success Edit online
            .col-lg-4
                h3
                    center Platener
                p
                    img(src='img/placeholder388.png')
                p
                    center
                        .btn.btn-primary Download
                        .btn.btn-success Edit online
            .col-lg-4
                h3
                    center Feature3
                p
                    img(src='img/placeholder388.png')
                p
                    center
                        .btn.btn-primary Download
                        .btn.btn-success Edit online
        p
            center
                a(href='../') Go back to lowfab.net
block scripts
    //include all general scripts
    if scripts
        each path in scripts
            script(src=path)
