.quickConvertBackground
	.container#quickConvert
		.row
			.col-lg-4
				h3
					center Original Model
				canvas#renderArea1.quickConvertCanvas
			.col-lg-4
				div(style='width:250px; margin-left:auto; margin-right:auto; display: block; margin-top: 200px')
					img(src='/img/convertArrow.png' width='250px')
			.col-lg-4
				h3
					center To LEGO#[sup &reg;] bricks
				canvas#renderArea2.quickConvertCanvas
				p
					center
						a.btn.btn-success Download
						|&nbsp;
						a.btn.btn-primary.applink(href='app#legofy+initialModel=1c2395a3145ad77aee7479020b461ddf') Customize
