section.quickConvert
	.container
		.row
			.col-lg-5.text-center
				h3
					center Original Model
				.canvasWrapper
					canvas#renderArea1.quickConvertCanvas(touch-action="none")
			.col-lg-2.text-center.convert-arrow.hidden-xs.hidden-md.hidden-sm
				img.img-responsive(src='/img/convertArrow.png')
			.col-lg-5.text-center
				h3
					center With LEGO#[sup &reg;] bricks
				.canvasWrapper
					canvas#renderArea2.quickConvertCanvas(touch-action="none")
				#applinks
					a.btn.btn-success#downloadButton Download
					= ' '
					a.btn.btn-primary.applink(href='app#initialModel=goggles') Customize
