extends ../rootLayout

block styles
  link(rel='stylesheet', href='/styles/screen.css')

block body
  .container

    h1: a(href='/') Brickify

    h2 Team

    img(src='img/bp.png')

    p.
      Brickify was originally developed by
      Johannes, Stefan, Arthur, Adrian, and Yannis,
      a team of bachelor students at the chair of human computer interaction
      at the Hasso-Plattner-Institute Potsdam, Germany.

    p
      | Since 2025, Brickify is maintained and further developed by
      =" "
      a(href='https://adriansieber.com') Adrian
      | .

  include footer
