extends ../layoutWithoutNavbar
block content
    .container
        h1 Team
        img(src='img/bp.png')
        p.
           Lowfab is developed by Johannes, Stefan, Arthur, Adrian and
           Yannis, a team of bachelor
           students at the chair of human computer interaction
           at the Hasso-Plattner-Institute in Potsdam, Germany.
        a(href='mailto:arthur.silber@student.hpi.de').
           Contact us