header
	.container
		.col-lg-8.pitch
			h1 brickify.it!
			h2 Extend your LEGO#[sup &reg;] with 3D-printed parts!

			.drop
				label#loadButton.btn.btn-primary.dropper(for='fileInput')
					img(src='./img/spinner.gif' id="spinner")
					span

				input#fileInput(
				type='file'
				accept=".stl"
				style='display: none'
				)

			a(href='/educators').btn#educators
				#preview
					img(src='/img/sample_ballista.png')
					img(src='/img/sample_CitrusJuicer.png')
					img(src='/img/sample_goggles.png')
					img(src='/img/sample_printableWrench.png')
				p Are you an educator? Check out our example models!
		#makey.col-lg-4
