header
	a(href='/educators')
		#educators-bar  Are you an educator? Click here!
	.container
		.col-lg-8.pitch
			h1 Brickolage
			h2 Extend your LEGO#[sup &reg;] with 3D-printed parts!
			.drop
				span.dropper Drop an stl file to start!
		#makey.col-lg-4
