header
  .container
    .col-lg-8.pitch
      h1 Brickify
      h2 3D-Printing + LEGO = Faster Prototyping

      .drop
        label#loadButton.btn.btn-primary.dropper(for='fileInput')
          img#spinner(src='./img/spinner.gif')

        input#fileInput(
          type='file'
          accept='.stl'
          style='display: none'
        )

    #makey.col-lg-4
