.teaserBackground
	.container
		br
		.row
			.col-lg-6(style='margin-top:8em')
				h1
					strong Lowfab
				h2 Prototyping accelerated
				p.
					Combine your 3d prototyping workflow with low-fidelity lego
					bricks to create more and faster design iterations.
			.col-lg-6
				img(src='/img/lowfabFeatureImage.png' width='580px')
	.container#buttonContainer
		a#dropzone.btn.btn-primary(style='width:25em; height:5em;padding-top:1.2em;margin-bottom: 1em')
			b#droptext(style='color:white; font-size: 1.5em;') Drop a .stl file to start!
		br
		a#qcExampleLink(href='#') Or try out an example
