.whatIsLowfabBackground
	.container
		h2 What is lowfab?
		p.
			Instead of creating one design and 3d-printing one high-fidelity
			prototype, Lowfab allows you to replace less important parts with
			lego, and only create critical parts with your 3d-printer.
			This allows you to iterate faster.

		img.img-responsive(src='/img/lowfabProcess.png')
